    <p>Your registration for a DJC Sales System - <%=@company_name%> account has been approved!</p>

    <%=link_to "Login", root_url%> with your <strong>email</strong> and <strong>password</strong>.
    <p></p>
    DJC Sales System