@import "flexbox";
@import "media-query-mixins";

.logo_div {
	height: 70px;
    float: right;
	width: 250px;
	text-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.login_logo_div{
	height: 150px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#chart_div{
	clear: both;
}

#chart {
	padding: 10px;
	min-width: 1200px;
	background-color: #FFFFFF;
	background: #FFFFFF !important;
	border-radius: 4px !important;
	box-shadow: 0 1px 4px #ddd !important;
	margin-bottom: 20px !important;

	@include mobile-only{
	    transform-origin: top left;
	}
}

#chart .description{
	clear: both;
}

.google-visualization-orgchart-table{
	width: auto;
}