@import "flexbox";
@import "media-query-mixins";

#header{
	box-shadow: none;
    background: #FFFFFF;
    border-bottom: 1px solid #cdcdcd;
}

#header a, #header a:link{
	@include desktop-only{
		color: #5E6469;
	}
	text-shadow: initial;
}

#header h1{
	@include desktop-only{
		padding: 3px 30px 0 20px;
		font-size: 2em;	
		color: inherit;	
	}

}

#header h1 a:hover{
	color: inherit;
}

@include desktop-only{
	.logged_in #title_bar, #active_admin_content, #footer, .logged_in .flashes{
	    padding-left: 200px;
	    -webkit-transition: padding 0.4s ease-in-out, opacity 0.4s ease-in-out;
	    -moz-transition: padding 0.4s ease-in-out, opacity 0.4s ease-in-out;
	    -ms-transition: padding 0.4s ease-in-out, opacity 0.4s ease-in-out;
	    -o-transition: padding 0.4s ease-in-out, opacity 0.4s ease-in-out;
	    transition: padding 0.4s ease-in-out, opacity 0.4s ease-in-out;
	}

	.logged_in .flashes{
		margin-left: -20px;
	}
	
}

.logged_in #wrapper{
    top: 114px;
    position: relative;
}

#header #tabs{
    -webkit-transition: padding 0.4s ease-in-out, opacity 0.4s ease-in-out;
    -moz-transition: padding 0.4s ease-in-out, opacity 0.4s ease-in-out;
    -ms-transition: padding 0.4s ease-in-out, opacity 0.4s ease-in-out;
    -o-transition: padding 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transition: padding 0.4s ease-in-out, opacity 0.4s ease-in-out;
	@include desktop-only{
		top: 51px !important;
		position: fixed;
		left: -181px;
		width: 180px;
		margin: 0;
		background-color: #FFFFFF;
		height: 100vh;
		border-right: 1px solid #cdcdcd;
		padding-left: 200px;
		margin-left: -20px;
	}
	@include mobile-only(){
	    position: relative;
    	left: 0;
        background-color: #6F757A;
    	z-index: 850;
    	height: calc(100vh - 51px);
    	top: -100vh;
        overflow-y: scroll;
	    padding-right: 100px;
	    vertical-align: top;
	    width: 100vw;
	    display: block;
	}
}

@include desktop-only{
	.logged_in #title_bar.hidden, #active_admin_content.hidden, #footer.hidden, .logged_in .flashes.hidden, #header #tabs.hidden{
	    padding-left: 20px;
	}
}

#header #tabs > li{
	@include desktop-only{
		@include flexbox();
		@include flex-direction(column);
	    margin: 0;
	    background: #f4f4f4;
	    border-bottom: 1px solid #cdcdcd;		
	}

	@include mobile-only(){
	    z-index: 850;
        // padding: 15px;
	    border-bottom: 1px solid #9e9f9e;
        margin: 0 20px;
        width: calc(100% - 50px);
        display: table;
	}
}

#header #tabs > li.current{
	@include desktop-only{
		background-color: #fff;
	}
}

#header #tabs > li:hover > a{
	@include desktop-only{
		background-color: #fff;
	}
}

#header #tabs a{
    padding: 20px;
    display: block;
}


#header ul.tabs > li.current > a{
	background: none;
    color: inherit;
	@include mobile-only{
		background-color: #6F757A !important;
	}
}

#header{
	position: fixed;
    top: 0;
    list-style: none;
    min-height: 40px;
	@include mobile-only(){
		padding: 0;
		font-size: 15px;
		display: block;
	    height: 51px;
	}
}

#header h1, #header ul.tabs > #menu, #header #menu{
	@include mobile-only(){
	    padding: 15px 14px;
	    background-color: #6a7176;
	    background-image: linear-gradient(180deg, #6a7176, #4d5256);
	    border-bottom: 1px solid #44484b;
	    text-shadow: #000 0 1px 0;
	    height: 20px;
	    overflow: visible;
	    z-index: 999;
	    position: relative;
	    width: 100%;
	    margin: 0;
	    display: block;
	}
}

#header ul.tabs > #menu, #header ul.tabs > #menu:hover, #header #menu, #header #menu:hover{

		cursor: pointer;
		width: 7%;
	    vertical-align: middle;
	    background: no-repeat center center;
	    background-size: 30px;
	    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(205, 205, 205, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

#header ul.tabs > #menu:hover, #header #menu:hover{

	    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

#header ul.tabs > #menu:hover a, #header #menu:hover a{
	background: none;
}

#header ul.tabs > li a{
	@include mobile-only(){
		padding-left: 0;
	}		
}

#header ul.tabs li{
	font-size: 15px;
}

#header ul.tabs > #menu, #header #menu{
	@include desktop-only{
		display: none;
	}
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    text-align: right;		
}

// #header ul.tabs > #menu:hover, #header ul.tabs > #menu:hover a{
// 	background-color: #6a7176;
//     background-image: linear-gradient(180deg, #6a7176, #4d5256);
// }


#header #utility_nav a{
	@include mobile-only(){
		padding: 6px 0px 4px 10px;
	}		
}

#header svg:hover{
	cursor: pointer;
}

#header .fa-times, #header .fa-bars{
	cursor: pointer;
	font-size: 20px;
}

#header .svg-inline--fa.fa-w-12{
	width: .86em;
}

#header svg{
	position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    color: #cdcdcd;
}

#title_bar #titlebar_left, #title_bar #titlebar_right{
	@include mobile-only(){
		height: 0;
	}	
}

#title_bar h2{
	@include desktop-only{
		@include flexbox();
	    height: 50px;
	    align-items: center;
	    pointer-events: none;
	}
	@include mobile-only(){
	    font-size: 2em;
	}		
}

#title_bar{
	background-color: #FFFFFF;
	background-image: none;
	position: fixed;
	top: 51px;
	border-top: none;
	border-left: none;
	border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #cdcdcd;
    box-shadow: none;
    height: 63px;
	@include mobile-only(){
	    padding: 15px 12px;
	}		
}

#page_title:before{
	@include desktop-only(){
		content: '';
		display: inline-block;
	    cursor: pointer;
	    width: 40px;
	    height: 50px;
	    float: left;
	    vertical-align: middle;
	    background: no-repeat center left;
	    background-size: 30px;
	    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(205, 205, 205, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	    pointer-events: all;
	}
}


#header #tabs > li:hover{
	@include desktop-only{
		color: inherit;
		background-color: #fff;
	}
}

#header #tabs > li:hover a{
	@include desktop-only{
		color: inherit;
		background: none;
	}
}

#header #tabs > li.has_nested:hover > a{
	background: url('/assets/active_admin/nested_menu_arrow-15084d93c65c1964d7077700ea748bd2d70cfa2d4c19707c58a9c64e232dd442.gif') no-repeat calc(100% - 7px) 50%;
}

#header ul.tabs > li.has_nested.current > a{
	@include desktop-only{
		color: inherit;
	}
	background: url('/assets/active_admin/nested_menu_arrow-15084d93c65c1964d7077700ea748bd2d70cfa2d4c19707c58a9c64e232dd442.gif') no-repeat calc(100% - 7px) 50%;
}

#header ul.tabs > li.has_nested.current:hover > a{
	background: url('/assets/active_admin/nested_menu_arrow_dark-7c43b8e0a5f8823875f49a093c9d7a6b374f885b6f9cc248ae9cd7e6e9b29034.gif') no-repeat calc(100% - 7px) 50%;
}

#header ul.tabs > li.has_nested:hover > a{

        border: none;
		background-color: #6F757A;
		
}

#header ul.tabs > li:hover > a {
	border-radius: 0;
	background: #6F757A;	
}

#header ul.tabs > li ul{
	margin: 0;
	@include desktop-only{
		margin-bottom: 10px;
		background: inherit;
	}
    position: relative;
 	border-radius: inherit;
    box-shadow: none;
    background: none;
    width: 100%;
}

#header ul.tabs > li ul.opened{
	display: block !important;
}

#header ul.tabs > li:hover ul{
    display: none
}

#header #utility_nav a:hover{
	background: none;
	color: inherit;
}

#header ul.tabs > li ul li{
	padding: 0 10px;
}

#header ul.tabs > li ul li:last-child{

	    border-bottom: none;
	
}

#header #tabs #profile, #header #tabs #logout{
	@include desktop-only{
		display: none;
	}
}

#utility_nav{
	@include mobile-only{
		display: none !important;
	}
}
