.panel{
	background: #FFFFFF;
	border-radius: 4px;
	box-shadow: 0 1px 4px #ddd;
	margin-bottom: 20px;
}

.panel h3{
	background-color: inherit;
	background-image: none;
	border-bottom: solid 1px #EFEFEF;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: #EFEFEF;
	border-left-color: transparent;
	font-size: 1.8em;
	margin: 0 15px 15px 15px;
	padding: 15px 0;
	box-shadow: none;
}

form fieldset.inputs {
    background: #FFFFFF;
    box-shadow: 0 1px 4px #ddd;
    padding: 15px;
} 

.section > div, .panel > div{
	padding: 0 15px 15px 15px;
}