@import "flexbox";
@import "media-query-mixins";


	.filter-trigger{
	    position: absolute;
	    left: -42px;
	    top: 15%;
	    font-size: 20px;
	    padding: 10px;
	    background: #f4f5f5;
	    border: 2px solid #ddd;
	    border-right: none;
	    opacity: 0.8;
	}

	.filter-trigger:hover{
		opacity: 1;
	}

	.filter-trigger{
		cursor: pointer;
	}

	#active_admin_content #sidebar{
		position: relative;
	    right: -285px;
	    background: #f4f4f4;
	    border-radius: 4px;
	    box-shadow: inset 0 1px 4px #ddd;
	    margin-bottom: 20px;
	    z-index: 700;
	}

	.sidebar_section > h3{
		margin-top: 0;
	    box-shadow: none;
	    border: none;	
	}

	.sidebar_section {
	    margin-bottom: 0;
	}


.index #summary_sidebar_section .panel_contents .columns .column:first-child{
	width: 38% !important;
}
.index #summary_sidebar_section .panel_contents .columns .column:last-child{
	width: 58% !important;
}

form.filter_form .filter_form_field.filter_date_range input[type=date] + input{
	margin-left: 6px;
}

form.filter_form .filter_form_field.filter_date_range input[type=date] {
    box-sizing: border-box;
    width: 114px;
}