@import "flexbox";
@import "media-query-mixins";

@include mobile-only{
	#active_admin_content{
	    max-width: calc(100vw - 30px);
    	overflow-x: hidden;
		padding: 30px 15px;
	    min-height: 70vh;
	}

	#active_admin_content #main_content_wrapper #main_content{
		margin-right: 0;
	}

	#active_admin_content #sidebar{
		position: relative;
	    right: -285px;
	}

	table.index_table {
		border: 0;
	}
	table.index_table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	table.index_table tr {
	    border: 2px solid #ddd;
	    display: block;
	    margin-bottom: 20px;
	}
	table.index_table td {
		border-bottom: 1px solid #ddd;
		display: block;
		text-align: left;
		@include flexbox();
		padding: 5px 12px 5px 12px;
	}

	table.index_table tr.even td{
		background: white;
	}

	table.index_table tr td:nth-child(2n) {
		background: #f4f5f5;
	}

	table.index_table tr.selected td{
		background: #d9e4ec;
	}

	table.index_table td:before {
	/*
	* aria-label has no advantage, it won't be read inside a table.index_table
	content: attr(aria-label);
	*/
		content: attr(data-label);
		width: 40%;
		font-weight: bold;
		text-transform: uppercase;
		display: inline-block;
	}
	table.index_table td:last-child {
		border-bottom: 0;
	}



	.col-buyer{
		max-width: none !important;
	}

	table.index_table ul{
		@include flexbox();
	}

	table.index_table ul li{
		margin-right: 5px;
	}

	.filter-trigger{
	    position: absolute;
	    left: -42px;
	    top: 15%;
	    font-size: 20px;
	    padding: 10px;
	    background: #f4f5f5;
	    border: 2px solid #ddd;
	    border-right: none;
	    opacity: 0.8;
	}

	.filter-trigger:hover{
		cursor: pointer;
	}

	.filter-trigger{
		cursor: pointer;
	}
}

@include desktop-only(){
	.filter-trigger{
		display: none;
	}
}