@import "flexbox";
@import "media-query-mixins";

@include mobile-only{
	#active_admin_content{
	    max-width: calc(100vw - 30px);
    	overflow-x: hidden;
		padding: 30px 15px;
	    min-height: 70vh;
	}

	#active_admin_content #main_content_wrapper #main_content{
		margin-right: 0;
	}

	#active_admin_content #main_content_wrapper.disabled{
	    opacity: 0.4;
    	pointer-events: none;
	}

	#active_admin_content #main_content_wrapper{
		-webkit-transition: opacity 0.4s ease-in-out;
		-moz-transition: opacity 0.4s ease-in-out;
		-ms-transition: opacity 0.4s ease-in-out;
		-o-transition: opacity 0.4s ease-in-out;
		transition: opacity 0.4s ease-in-out;
	}

	.action_item a{
	    padding: 8px !important;
    	font-size: 9px !important;
	}
}