.has_many_container.position_commissions .has_many_remove {
	display: none;
}



.has_many_container.position_commissions .select2-container--default .select2-selection--single{
	background-color: #F4F4F4;
	cursor: default;
	pointer-events: none;
}
