@import "flexbox";
@import "media-query-mixins";

@include desktop-only(){

    table.index_table td:not(.col-buyer){
        white-space: nowrap;
    }

    th[class^='col col-ren'] {
        white-space: nowrap;  
    }

    .col-buyer {
        max-width: 200px;
        min-width: 150px;
        
    }
}

.show.sales .ui-dialog li {
    @include flexbox();
    @include flex-direction(column);
}

.show.sales .ui-dialog {
    position: absolute !important;
    width: auto !important; 
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
    // z-index: 9999;
    // @include mobile-only{
    //     top: 100% !important;
    // }
}

// .show.sales .ui-dialog form textarea[name='content']{
//     @include desktop-only{
//         min-height: 200px;
//     }
// }

.show.sales .ui-dialog-content{
	width: 30vw !important;
    min-width: 300px;
}

.show.sales .ui-dialog form input[type=text], .show.sales .ui-dialog form input[type=password], .show.sales .ui-dialog form input[type=email], 
.show.sales .ui-dialog form input[type=number], .show.sales .ui-dialog form input[type=url], .show.sales .ui-dialog form input[type=tel], 
.show.sales .ui-dialog form input[type=date], .show.sales .ui-dialog form input[type=time], .show.sales .ui-dialog form textarea {
	width: auto !important;
}