<div id="login">
  <h2><%= title t('active_admin.devise.sign_up.title') %></h2>

  <% scope = Devise::Mapping.find_scope!(resource_name) %>
  <%= devise_error_messages! %>
  <%= active_admin_form_for(resource, as: resource_name, url: send(:"#{scope}_registration_path"), html: { id: "registration_new" }) do |f|
    f.inputs do
      f.input :name
      f.input :prefered_name
      f.input :ic_no, min: 1
      f.input :email
      f.input :phone_no
      f.input :birthday
      f.input :parent_id, label: 'Referrer', as: :select, :collection => User.approved.order(:prefered_name).map {|u| [u.prefered_name, u.id ]}, input_html: { class: 'select2' }
      f.input :location, input_html: { class: 'select2' }
      f.input :password, label: t('active_admin.devise.password.title')
      f.input :password_confirmation, label: t('active_admin.devise.password_confirmation.title')
    end
    f.actions do
      f.action :submit, label: t('active_admin.devise.login.submit'), button_html: { value: t('active_admin.devise.sign_up.submit') }
    end
  end
  %>

  <%= render partial: "active_admin/devise/shared/links" %>
</div>