//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "activeadmin_addons/all";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


.index #summary_sidebar_section .panel_contents .columns .column:first-child{
	width: 38% !important;
}
.index #summary_sidebar_section .panel_contents .columns .column:last-child{
	width: 58% !important;
}

.col-buyer {
	max-width: 200px;
}

.teams.index .index_as_barchart .resource_selection_toggle_panel, .teams.index .index_as_column_chart .resource_selection_toggle_panel{
	display: none;
}

.logo_div {
	height: 70px;
    float: right;
}

img {
	max-height: 100%;
}

#chart_div{
	clear: both;
}

.graph_div {
	border: 1px solid black;
	padding: 10px;
	min-width: 1200px;
}