@import "active_admin/mixins";
@import "active_admin/base";
@import "activeadmin_addons/all";
@import "flexbox";
@import "media-query-mixins";
@import "admin/\*";

.index #summary_sidebar_section .panel_contents .columns .column:first-child{
	width: 38% !important;
}
.index #summary_sidebar_section .panel_contents .columns .column:last-child{
	width: 58% !important;
}

.col-buyer {
	max-width: 200px;
}

.teams.index .index_as_barchart .resource_selection_toggle_panel, .teams.index .index_as_column_chart .resource_selection_toggle_panel{
	display: none;
}

.logo_div {
	height: 70px;
    float: right;
}

.login_logo_div{
	height: 150px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

img {
	max-height: 100%;
	max-width: 100%;
}

#chart_div{
	clear: both;
}

#chart {
	border: 1px solid black;
	padding: 10px;
	min-width: 1200px;

	@include mobile-only{
	    transform-origin: top left;
	}
}

.show.sales .ui-dialog li {
    @include flexbox();
    @include flex-direction(column);
}

.show.sales .ui-dialog {
    position: absolute !important;
     width: auto !important; 
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
}

.show.sales .ui-dialog form textarea[name='content']{
	min-height: 200px;
}

.show.sales .ui-dialog-content{
	width: 30vw !important;
    min-width: 300px;
}

.show.sales .ui-dialog form input[type=text], .show.sales .ui-dialog form input[type=password], .show.sales .ui-dialog form input[type=email], 
.show.sales .ui-dialog form input[type=number], .show.sales .ui-dialog form input[type=url], .show.sales .ui-dialog form input[type=tel], 
.show.sales .ui-dialog form input[type=date], .show.sales .ui-dialog form input[type=time], .show.sales .ui-dialog form textarea {
	width: auto !important;
}

#website_remove_logo_input{
	padding-top: 0 !important;
}

#website_remove_logo{
	display: none;
}

